.cards {
    padding-left: 148px;
    padding-right: 148px;
    margin-bottom: 92px;
}


@media (min-width: 1024px) and (max-width: 1280px) {
    .cards {
        padding-left: calc(48px + 100 * (100vw - 1024px)/(1280 - 1024));
        padding-right: calc(48px + 100 * (100vw - 1024px)/(1280 - 1024));
    }
}

@media (max-width: 1024px) {
    .cards {
        padding-left: 48px;
        padding-right: 48px;
    }
}

@media (max-width: 768px) {
    .cards {
        padding-left: 24px;
        padding-right: 24px;
        margin-bottom: 66px;
    }
}

@media (max-width: 320px) {
    .cards {
        padding-left: 16px;
        padding-right: 16px;
    }
}