.baikal__image-cover {
    background: url(../../../images/trains.png) rgba(42, 44, 47, 0.3);
    background-size: cover;
    background-blend-mode: overlay;
    padding-top: 245px;
    padding-bottom: 245px;
    max-width: 1184px;
    margin: 0 auto 0;
    transition: background-color 0.5s linear 0s;
}

.baikal__image-cover:hover {
    background: url(../../../images/trains.png) rgba(42, 44, 47, 0.8);
    background-size: cover;
    background-blend-mode: overlay;
}

 @media (min-width: 1024px) and (max-width: 1280px) {
    .baikal__image-cover {
        padding-top: calc(195px + 50 * (100vw - 1024px)/(1280 - 1024));
        padding-bottom: calc(195px + 50 * (100vw - 1024px)/(1280 - 1024));
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    .baikal__image-cover {
        padding-top: calc(115px + 80 * (100vw - 768px)/(1024 - 768));
        padding-bottom: calc(115px + 80 * (100vw - 768px)/(1024 - 768));
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .baikal__image-cover {
        padding-top: calc(33px + 82 * (100vw - 320px)/(768 - 320));
        padding-bottom: calc(33px + 82 * (100vw - 320px)/(768 - 320));
    }
}

@media (max-width: 320px) {
    .baikal__image-cover {
        padding-top: 33px;
        padding-bottom: 33px;
    }
}