.cards__item-paragraph {
  margin-top: 0;
  margin-bottom: 26px;
  line-height: 29.34px;
}

.cards__item-paragraph:last-child {
  margin-bottom: 0;
}

@media (max-width: 320px) {
  .cards__item-paragraph {
    margin-bottom: 25px;
  }
}

@media (max-width: 768px) {
  .cards__item-paragraph {
    line-height: 26.08px;
  }
}