.header__lang-container {
    /* position: absolute; */
    margin-top: 46px;
    margin-right: 48px;
    display: flex;
    flex-direction: row;
}

/* @media (max-width: 1024px) {
} */

@media (max-width: 768px) {
    .header__lang-container {
        margin-right: 24px;
    }
}

@media (max-width: 320px) {
    .header__lang-container {
        margin-right: 16px;
        margin-top: 30px;
    }
}