.cards__item-pic {
    /* margin: auto; */
    margin-bottom: 0;
    width: 460px;
}

@media (max-width: 1280px) and (min-width: 1024px) {
    .cards__item-pic {
        width: calc(440px + 20 * (100vw - 1024px)/(1280 - 1024));
    }
}
@media (max-width: 1024px) and (min-width: 768px) {
    .cards__item-pic {
        width: calc(340px + 100 * (100vw - 768px)/(1024 - 768));
    }
}

@media (max-width: 768px) {
    .cards__item-pic {
        width: 340px;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .cards__item-pic {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .cards__item-pic {
        width: 100%;
    }
}